# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
.vs/set_of_integers/v17/.suo
.vs/set_of_integers/v17/Browse.VC.db
*.ipch
*.sln
*.vcxproj
*.filters
*.user
*.vsidx
*.lock
*.db-shm
*.db-wal
*.opendb
*.recipe
*.ilk
*.tlog
*.idb
*.pdb
*.log
*.txt
